<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV | Project Component</title>
    <link rel="stylesheet" href="./css/theme-selector.css">
</head>
<body id="body">
 
    <div class="Button-Container">
        <button id="theme-1"></button>
        <button id="theme-2"></button>
        <button id="theme-3"></button>
        <button id="theme-4"></button>
        <button id="theme-5"></button>
        <button id="theme-6"></button>
        <button id="theme-7"></button>
        <button id="theme-8"></button>
    </div>

    <script src="./js/theme-selector.js"></script>
</body>
</html>