*{ /* Brit Reset */
    box-sizing:border-box;
    margin:0;
    padding:0;
    max-width:100%;

    /* debug */
    /* border: 1px solid grey; */
}
:root {
    --debug-border-0: solid 5px grey;
    /* --debug-border-0: none; */
    --debug-border-1: solid 5px red;
    /* --debug-border-1: none; */
    --debug-border-2: solid 5px green;
    /* --debug-border-2: none; */
    --debug-border-3: solid 5px blue;
    /* --debug-border-3: none; */

    /* Breakpoints: */
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
}


.Button {
    background: #4285F4;
    border: solid 3px black;
    color: white;
    padding: 5px 10px;
    border-radius: 6%;
    transition: 0.5s;
}
.Button:hover {
    background: white;
    border: solid 3px black;
    color: #4285F4;
}

/* - - - - - - - - - - - - - - - - */
/* - - - - - footer- - - - - - - - */
/* - - - - - - - - - - - - - - - - */
.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: lightblue;
}
.Footer-container {
    text-align: center;
}
.Footer-container > h3 {
    font-size: 28px;
    margin-bottom: 30px;
}