@import url('/style/global.css');

main {
    background: sandybrown;
}

#Section-hero {
    display: flex;
    padding: 1% 2%;
}
#Section-hero > .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Section-hero > .left > .img {
    width: 90%;
}
#Section-hero > .left > .img > img  {
    border-radius: 50%;
    border: 3px black solid;
}
#Section-hero > .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Section-hero > .right > .text {
    width: 90%;
}
/* - - - - - - - - - - - - - - - - */
/* - Section-portfolio - - - - - - */
/* - - - - - - - - - - - - - - - - */
#Section-portfolio {
    display: flex;
    /* padding: 2% 5%; */
}
    @media screen and (min-width: 1200px) { /* >= 1200px */
        #Section-portfolio {
            flex-direction: row;
        }
    }

    @media screen and (max-width: 1200px) { /* < 1200px */
        #Section-portfolio {
            flex-direction: column;
        }
    }
.Col-outer { 
    flex-grow: 1; 
    display: flex;
    justify-content: space-around;
}
    
    @media screen and (min-width: 800px) { /* >= 800px */
        .Col-outer {
            flex-direction: row;
        }
    }

    @media screen and (max-width: 800px) { /* < 800px */
        .Col-outer {
            flex-direction: column;
        }
        .Col-inner {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
.Image-container {
    width: 100%;
    max-width: 512px;
    border: solid black 2px;
}
.Image-container > img {
    width: 100%;
}
.Image-container > h5 {
    text-align: center;
}

/* -------------------- */
/* Remaining MVP Tasks: */
/* -------------------- */


 /* A Contact Me button that links to the contact page */

 /* Links to any social media profiles (Instagram, linkedIn, Twitter) into the footer section of your home page */


 /* -------------------- */
/* Exit ticket: */
/* -------------------- */
/* Quiz */


/* -------------------- */
/* Stretch Goals: */
/* -------------------- */
/* 1. Make your webpage work at different browser widths, including mobile */
    /* Reamining: */
        /* 1.a: Collapse navbar */
/* 2. Add CSS animations */
/* 3. Design and execute your own wireframe for About, Projects, and Contact pages */
/* 4. Host your website on Netlify.com */
