a {
    text-decoration: none;
}

.Navbar_Nav {
    width: 50%;
    display: flex;
}

.Navbar_Nav > .Nav_item { 
    flex-grow: 1;
    text-align: center;
}
.Navbar_Nav > .Nav_item:nth-child(1) { background: red; }
.Navbar_Nav > .Nav_item:nth-child(2) { background: blue; }
.Navbar_Nav > .Nav_item:nth-child(3) { background: green; }
.Navbar_Nav > .Nav_item:nth-child(4) { background: orange; }


@media screen and (min-width: 992px) { /* >= 992 */
    .Navbar_Nav {
        display: flex;
        border: solid purple 5px;
    }
}

@media screen and (max-width: 991px) { /* < 992 */
    .Navbar_Nav {
        display: none;
        border: solid green 5px;
    }
}