<html>
    <head>
        <link rel="stylesheet" href="navbar.css">
    </head>

    <body>

        <nav id="Navbar">

            <div class="Navbar_Nav">
                <a class="Nav_Item" href="#">Home</a>
                <a class="Nav_Item" href="#">Features</a>
                <a class="Nav_Item" href="#">Pricing</a>
                <a class="Nav_Item" href="#">Disabled</a>
            </div>

            <button id="Hamburger" class="Navbar_Toggler">
                <div class="Line"></div>
                <div class="Line"></div>
                <div class="Line"></div>
            </button>      

            <div class="Navbar_Collapse">
                <a class="Nav_Item" href="#">Home</a>
                <a class="Nav_Item" href="#">Features</a>
                <a class="Nav_Item" href="#">Pricing</a>
                <a class="Nav_Item" href="#">Disabled</a>
            </div>

        </nav>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <script src="navbar.js"></script>
    </body>
</html>