#Hero-Image-Container {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    background-image: url('../img/dream-office_1024x576_MoxJPEG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center;
}