<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV | Project Component</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/layout.css">
    <link rel="stylesheet" href="./css/project.css">
</head>
<body>

    

  <div class="Page-Container">
    <div class="Project ThreeD-Container" id="Project-1">       
        <div class="Card">
            <div class="Card-Face Card-Face-Front">

                <div class="Image-Container Center">
                    <h4>Project</h4>
                </div>
                
            </div> <!-- /.Card-Face-Front -->
            
            <div class="Card-Face Card-Face-Back Center">
                <p>Description here...</p>
            </div> <!-- /.Card-Face-Back -->
        </div> <!-- /.Card -->
    </div> <!-- /.Project -->
  </div> <!-- /.Page-Container -->

    <script src="./js/project.js"></script>
</body>
</html>