:root {
    --background-color-blue: #D1ECFE;
    --border-color-blue:   #1F69AD;
    --glow-color-blue: #7f8fa7;

    --background-color-yellow: #FDEC3D;
    --border-color-yellow: #857D1D;
    --glow-color-yellow: rgba(236, 204, 0, 0.62);

    --background-color-pink: #FDD8E6;
    --border-color-pink: #F70067;
    --glow-color-pink: rgba(189, 135, 189, 0.62);

    --background-color-green: #87C887;
    --border-color-green: #377E36;
    --glow-color-green: rgba(70, 255, 173, 0.62);

    --background-color-purple: #B691D2;
    --border-color-purple: #6918A4;
    --glow-color-purple: #b881d5;

    --background-color-tan: #FBCAAC;
    --border-color-tan: #333333;
    --glow-color-tan: #ac5479;

    --background-color-grey: #CCCCCC;
    --border-color-grey: #666666;
    --glow-color-grey: #777777;
     
    --background-color-brown: #85614F;
    --border-color-brown: #642F13;
    --glow-color-brown: #a56554;
    
    --background-color-primary: var(--background-color-blue);
    --border-color-primary: var(--border-color-blue);
    --glow-color-primary: var(--glow-color-blue);
}

#Theme-Container {
    border: dashed var(--background-color-primary) 5px;
}

.Color-Options-Container {
    display: grid;
    grid-template-columns: 10px 10px 10px 10px;
    grid-template-rows: 10px 10px;
    grid-gap: 20px;
    border: solid red 2px;
}
.Color-Options-Container > button {
    padding: 7px;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 9px;
    cursor: pointer;
    transition: 0.3s;
}
.Color-Options-Container > button:hover {
    transform: scale(2, 2);
}

.Active-Theme { box-shadow: 0 0 10px 4px var(--glow-color-primary); }



.Color-Options-Container > #Theme-Blue {
    border-color: #0066af;
    background-color: #ceebff;
}
.Color-Options-Container > #Theme-Yellow {
    border-color: #0066af;
    background-color: #ceebff;
}
.Color-Options-Container > #Theme-Pink {
    border-color: #0066af;
    background-color: #ceebff;
}
.Color-Options-Container > #Theme-Green {
    border-color: #0066af;
    background-color: #ceebff;
}
.Color-Options-Container > #Theme-Purple {
    border-color: #0066af;
    background-color: #ceebff;
}
.Color-Options-Container > #Theme-Tan {
    border-color: #0066af;
    background-color: #ceebff;
}
.Color-Options-Container > #Theme-Grey {
    border-color: #0066af;
    background-color: #ceebff;
}
.Color-Options-Container > #Theme-Brown {
    border-color: #0066af;
    background-color: #ceebff;
}