main {
    display: flex;
    height: 100vh;
}

@media screen and (min-width: 800px) {
    main {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }
}

nav,article {
    flex-grow: 1;
}

nav {
    background: lightblue;
}
article {
    background: lightcoral;
}